/* Based on the cards used in CodePen */

body {
    font-size: 14px;
    background-color: #37718E;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
}

.card {
    cursor: pointer;
    position: relative;
    max-width: 300px;
    color: white;
}

.card::after {
    content: "";
    position: absolute;
    background-color: #254E70;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
    transform: scale(1.1);
    clip-path: inset(2rem 0rem 2rem 2rem round 10px);
    transition: clip-path 0.3s ease;
}

.card:hover::after {
    clip-path: inset(0 round 10px);
}

.card:hover .detail {
    opacity: 1;
    transform: translateY(0%);
}

.card-img {
    max-width: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.face {
    display: inline;
    margin: 0;
    width: 105%;
    height: auto;
    top: -15%;
    position: relative;
}

.card-avatar {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 0.75rem;
}

.header {
    display: flex;
    margin-top: 10px;
}

.footer {
    margin-top: 0.5rem;
}

.detail:nth-child(2) {
    transition-delay: 0.05s;
}

.detail:nth-child(3) {
    transition-delay: 0.1s;
}

.detail {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    background-color: #1f3551;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(-50%);
}

.detail:hover {
    color: black;
    background-color: white;
}