body {
    overscroll-behavior: none;
}

h1 {
    color: #ffffff;
    margin: 0;
    padding-top: 2rem;
}

.title {
    text-align: center;
    color: black;
    margin-bottom: 2rem;
}

.static {
    height: 200px;
    text-align: center;
    margin: 1rem 0;
    opacity: 0;
    transform: translateY(20vh) scale(1.2);
    transition: opacity 0.5s ease-out, transform 0.8s ease-out;
}

.static.show {
    opacity: 1;
    transform: translateY(0) scale(1);
}

.static-1 {
    background-color: #7400B8;
}

.static-2 {
    background-color: #6930C3;
}

.static-3 {
    background-color: #5E60CE;
}

.static-4 {
    background-color: #5390D9;
}
